.pizza-card {
  width: 90%;
  margin-left: 1.5rem;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
}

.pizza-image {
  height: 200px; /* Ajusta según tus necesidades */
  display: cover;
  }

.ingredients-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px; /* Altura fija para el contenedor de ingredientes */
  object-fit: contain
}

.ingredients-list {
  margin: 0;
  text-align: center;
}

.list-group-flush .list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list-group-item:last-child .d-flex {
  justify-content: space-between; /* Asegura que los botones se separen correctamente */
}
